---
const locations = [
	{
		country: 'Türkiye',
		flag: `
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="50"
				height="25"
				viewBox="0 -30000 90000 60000"
			>
				<path fill="#e30a17" d="m0-30000h90000v60000H0z" />
				<path
					fill="#fff"
					d="m41750 0 13568-4408-8386 11541V-7133l8386 11541zm925 8021a15000 15000 0 1 1 0-16042 12000 12000 0 1 0 0 16042z"
				/>
			</svg>
		`,
		address: ['Yaşamkent, 3122. Sk. No:18, 06000', 'Çankaya/Ankara'],
		workingHours: ['Mon - Fri / 10 AM - 6 PM', 'Sat / 12 AM - 6 PM'],
		phone: '+90 553 385 73 03',
		maps: 'https://maps.app.goo.gl/xpaCjezvTJ52XXKM9',
	},
	{
		country: 'Kosovo',
		flag: `
			<svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://web.resource.org/cc/" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:ns1="http://sozi.baierouge.fr" width="50" height="25" viewBox="0 0 840 600">
				<rect width="840" style="fill:#244aa5" height="600"/>
				<path d="m424.54 190.13c3.52 4.11 5.87 8.2 5.87 13.19-2.95 1.46-7.03 2.05-9.38 4.69 14.65-2.05 17.57 14.93 33.98 8.49 0.59 2.35 2.95 4.4 5.86 3.52l1.76-4.68c6.43-1.76 4.67 8.78 11.73 6.73 3.52 2.93 1.17 7.9 3.52 11.43 0 4.1 1.76 7.61 3.51 11.12 1.76-2.03 2.92-4.97 7.03-4.09 2.92 3.22 5.27 6.15 5.86 9.66-1.19 6.75-2.94 12.6 4.08 16.11v2.06c4.71 2.05 15.25-2.06 15.25 6.15-0.6 2.93 2.92 0.3 4.11 2.05 2.92-1.17 7.03-0.58 10.54-0.58 2.92 6.15-3.51 10.54-5.27 16.11 2.92 2.92 1.76 8.21 1.16 11.7l-1.75 0.88c4.67 0.88 10.54-0.56 14.65 2.07l7.62 2.92c3.51-2.04 7.6-2.35 12.3-2.04 3.51 2.64-1.19 7.03 1.76 9.07 4.11 0 7.62 0.6 8.19 4.11l0.59 1.16c2.92-5.27 11.14-1.76 14.65-5.55 5.87 0 7.03 6.43 9.95 9.95 1.19 9.09-9.95 13.2-6.43 22.27-2.35 4.39-7.03 7.91-10.54 12.02 1.16 0.59 0.56 2.04 0.56 2.91-3.51 2.08-0.56 8.23-5.27 8.79-0.56 3.83-7.59 2.35-5.27 6.46 4.7 6.15-2.32 9.95-2.32 15.53-2.95 3.23-8.82-2.95-8.82 3.23-3.51 0.88-7.03-3.23-9.35 0.29-1.19 4.11 2.32 5.55 1.76 9.66 5.84-0.6 7.59 5.27 9.95 8.79l5.86 5.86c-5.86 4.68-13.49-0.59-20.52 2.04-1.76-0.88 0-3.2-1.76-4.08-1.75-2.07-5.27-2.07-8.18-2.63 0.56 2.63-4.71 3.51-2.36 6.71 0 0.88 1.16 3.51-1.16 3.51-4.7 1.48-4.11-4.07-8.22-2.04-5.27 2.04-1.16 9.95-8.78 9.07 1.16 7.06-11.7 11.74-2.92 17.89 1.16 1.16 0.56 3.51 0.56 5.27-5.27 4.7-14.62 2.95-20.48 1.19-4.71-1.19-1.76-7.06-3.52-10.26-1.75-2.95-7.03-4.99-7.03-9.1-3.51-1.44-6.46-2.35-8.81-5.27-8.19 7.91-18.16 15.53-29.87 15.81-5.27 2.64-8.22 13.21-16.41 8.82-3.21 5.27-12.89 0-13.47 7.59-3.82 1.48-2.06 6.46-4.4 8.79-0.87 5.86 0 10.85 4.98 14.37 2.05 4.39-4.4 4.39-1.76 8.5 0.6 1.44 0 3.51-0.88 4.11-1.76 0.88-2.34 1.76-1.76 3.51-1.45 0-2.05 0.88-3.21 2.04-1.48 2.92-6.15 4.39-9.38 6.43-3.22 0.88-5.57-1.44-7.61-3.51-0.6 3.23-3.23 4.99-6.45 4.99-4.69 0-3.81-4.11-7.32-5.87 1.45-5.27-3.24-7.59-1.76-12.3 3.81-2.92 10.24-4.99 8.48-11.14-4.09-4.95-2.63-12.29-6.72-18.16-2.64-2.32-7.03-5.84-5.57-11.42 3.81-4.39 0-9.66-2.06-14.34-0.88-3.83-3.21-7.34-3.21-11.73-6.45-3.8-6.75-13.78-15.83-14.65-6.45 0-7.61-8.19-14.06-7.63-0.59-1.16-2.05-2.04-3.23-3.2-4.67 3.2-10.54-0.88-16.39 0.57-3.81-6.44 3.21-15.22-7.04-19.05v-4.08c1.17 0.57 1.75-0.59 2.05-1.19 0.58-4.39-7.33-4.96-4.09-9.95-1.76-1.47-3.82-2.07-2.64-4.98-4.41-9.07-17.58-8.19-20.52-17.29 2.35-2.04 2.35-4.11 3.23-5.87-2.05-3.51-2.63-7.31-2.05-11.1 2.05-0.6 3.21-3.24 4.39-5.31-2.63-1.75-5.85-4.39-8.78-3.51-5.28-0.88-9.09-4.96-13.78-7.31-1.17-1.16-0.58-3.23-0.58-4.68 6.45-2.07-0.88-11.15 7.03-9.97 2.06-2.64 6.45-3.52 9.66-5.57 3.24-0.58 5.87 0.6 9.09 1.47 2.63 3.5 7.32 2.04 9.96 4.98 2.63-0.6 5.86-2.06 9.08-0.6 0-4.97 2.34-7.91 5.87-11.42 0.58-2.04 3.79-3.51 6.43-4.68 4.99 1.17 10.84 1.17 14.37-2.35 2.34 1.48 4.39-1.46 7.03-1.46 3.21-0.59 5.85 0.28 8.2 1.76 0.28-5.87 10.54-0.88 12.6-7.91 2.34-4.69-6.45-6.44-5.87-10.55-1.46-4.7 2.06-7.03 3.81-10.25 2.06-0.88 4.39-2.05 7.03-1.47 6.75-2.34 1.47-16.11 12.31-11.12 0 1.45-0.59 3.21 0.29 3.51 3.81 0 4.39-4.4 7.04-5.87 1.16-4.09-1.47-9.08 2.04-12.3 1.76-0.29 3.23-0.87 4.39-2.35 0-3.22-1.75-4.97-4.39-7.03-0.88 1.47-3.22 0.3-4.69 0.88 0-3.51-2.04-5.85-2.64-9.08-1.75-0.88-2.63-2.34-2.04-4.39 2.64-2.64 0-9.09 6.15-7.62 2.34-2.05 6.45-0.59 8.79-4.1 6.15-3.52 14.35-3.52 19.04-9.96 2.06 0.29 4.4-1.76 6.45 0 0.58 3.81 6.15 2.33 6.15 5.85" fill="#d0a650"/>
				<path id="star" d="m243.25 188.08l-21.73-15.28-21.72 15.29 8.36-24.64-21.8-15.2 26.9 0.06 8.25-24.68 8.27 24.67 26.89-0.06-21.79 15.2 8.37 24.64z" fill="#fff"/>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star" transform="translate(73.243,-23.437)"/>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star" transform="translate(237.02 -39.556)"/>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star" transform="translate(316.11,-23.437)"/>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star" transform="translate(151.16 -39.556)"/>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star" transform="translate(396.96)"/>
				<metadata>
					<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
						<cc:Work xmlns:cc="http://web.resource.org/cc/">
							<dc:format xmlns:dc="http://purl.org/dc/elements/1.1/">image/svg+xml</dc:format>
							<dc:type xmlns:dc="http://purl.org/dc/elements/1.1/" rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
							<cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/"/>
							<dc:publisher xmlns:dc="http://purl.org/dc/elements/1.1/">
								<cc:Agent rdf:about="http://openclipart.org/">
									<dc:title>Openclipart</dc:title>
								</cc:Agent>
							</dc:publisher>
							<dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">Kosovo Flag</dc:title>
							<dc:date xmlns:dc="http://purl.org/dc/elements/1.1/">2010-08-21T21:26:05</dc:date>
							<dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Flag of Kosovo</dc:description>
							<dc:source xmlns:dc="http://purl.org/dc/elements/1.1/">https://openclipart.org/detail/81733/kosovo-flag-by-alket</dc:source>
							<dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">
								<cc:Agent>
									<dc:title>alket</dc:title>
								</cc:Agent>
							</dc:creator>
							<dc:subject xmlns:dc="http://purl.org/dc/elements/1.1/">
								<rdf:Bag>
									<rdf:li>Kosovo</rdf:li>
									<rdf:li>balkans</rdf:li>
									<rdf:li>disputed nation</rdf:li>
									<rdf:li>europe</rdf:li>
									<rdf:li>flag</rdf:li>
								</rdf:Bag>
							</dc:subject>
						</cc:Work>
						<cc:License xmlns:cc="http://web.resource.org/cc/" rdf:about="http://creativecommons.org/licenses/publicdomain/">
							<cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
							<cc:permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
							<cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
						</cc:License>
					</rdf:RDF>
				</metadata>
			</svg>
		`,
		address: ['Genart tuning'],
		workingHours: ['Mon - Fri / 10 AM - 6 PM', 'Sat / 12 AM - 6 PM'],
		phone: '+383 49 651 536',
	},
];
---

<section class="bg-white py-12">
	<div class="ek-container flex flex-col gap-2 xl:gap-6">
		<div class="flex flex-col gap-1 py-6 lg:gap-2">
			<span class="font-medium text-neutral-500">Our locations</span>
			<h2 class="text-3xl font-semibold text-gray-800 xl:text-4xl">Visit our dealers</h2>
		</div>
		<div class="grid grid-cols-1 gap-16 py-3">
			{
				locations.map((location) => (
					<div class="flex flex-col gap-5">
						<div class="flex w-full items-center justify-between border-b pb-3">
							<h3 class="text-2xl font-medium">{location.country}</h3>
							<span set:html={location.flag} />
						</div>
						<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-8 xl:grid-cols-4 xl:gap-5">
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Address</span>
								<div class="text-gray-600">
									{location.address.map((address) => (
										<p>{address}</p>
									))}
								</div>
							</div>
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Working Hours</span>
								<div class="text-gray-600">
									{location.workingHours.map((workingHour) => (
										<p>{workingHour}</p>
									))}
								</div>
							</div>
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Phone</span>
								<div>
									<a
										href={`tel:${location.phone.replace(/\s/g, '')}`}
										class="font-medium text-gray-600 hover:underline"
									>
										{location.phone}
									</a>
								</div>
							</div>
							{location.maps && (
								<div class="flex w-full flex-col gap-1">
									<span class="text-lg font-medium">Location</span>
									<div>
										<a
											href={location.maps}
											target="_blank"
											class="font-medium text-gray-600 hover:underline"
										>
											See at Google Maps
										</a>
									</div>
								</div>
							)}
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

{
	/*<div class="w-full">
				<div
					class="relative flex h-[200px] w-full items-center justify-center bg-neutral-100 md:h-full"
				>
					<iframe
						class="absolute my-auto h-full w-full"
						frameborder="0"
						referrerpolicy="no-referrer-when-downgrade"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAlftvMenNERJffzUYrUIEChMeBBFkum8U&q=EK+Racing"
						allowfullscreen
					>
					</iframe>
				</div>
			</div>*/
}
