---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import seemore from '/src/assets/images/see-more-banner.jpg';

const media = import.meta.glob('/src/assets/images/services/*.{jpeg,jpg,png,gif}');
const collection = await getCollection('services');

const services = await Promise.all(
	collection.map(async (service) => {
		const thumbnail = await media[service.data.thumbnail]();
		return {
			...service.data,
			thumbnail: thumbnail.default,
		};
	}),
);
---

<section class="flex w-full flex-col gap-5 bg-neutral-50 py-6 lg:py-12">
	<h2 class="ek-container text-base font-bold uppercase">Our Services</h2>
	<div class="ek-container grid grid-cols-1 gap-10 px-6 md:grid-cols-2 lg:grid-cols-4 lg:px-12">
		{
			services.map((service) => (
				<div class="flex w-full flex-col gap-5">
					<Image
						src={service.thumbnail}
						widths={[240, 540, 720, 900, service.thumbnail.width]}
						sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 900px) 720px, 900px, ${service.thumbnail.width}px`}
						loading="lazy"
						class="object-contain"
						alt={service.title}
					/>
					<div class="flex w-full flex-col gap-2">
						<h2 class="text-base font-medium md:text-lg">{service.title}</h2>
						<div class="flex flex-col gap-2 text-xs md:text-sm" set:html={service.description} />
					</div>
				</div>
			))
		}
		<div class="w-full">
			<a href="#" class="relative flex h-[100px] overflow-hidden hover:opacity-80 md:inline">
				<Image
					src={seemore}
					widths={[240, 540, 720, 900, seemore.width]}
					sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 900px) 720px, 900px, ${seemore.width}px`}
					loading="lazy"
					class="object-cover"
					alt=""
				/>
				<div
					class="absolute left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-60 backdrop-blur-sm"
				>
					<span class="text-base font-bold uppercase text-white xl:text-lg">See More</span>
				</div>
			</a>
		</div>
	</div>
</section>
