---
const locations = [
	{
		country: 'Türkiye',
		flag: `
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="50"
				height="25"
				viewBox="0 -30000 90000 60000"
			>
				<path fill="#e30a17" d="m0-30000h90000v60000H0z" />
				<path
					fill="#fff"
					d="m41750 0 13568-4408-8386 11541V-7133l8386 11541zm925 8021a15000 15000 0 1 1 0-16042 12000 12000 0 1 0 0 16042z"
				/>
			</svg>
		`,
		address: ['Yaşamkent, 3122. Sk. No:18, 06000', 'Çankaya/Ankara'],
		workingHours: ['Mon - Fri / 10 AM - 6 PM', 'Sat / 12 AM - 6 PM'],
		phone: '+90 553 385 73 03',
		maps: 'https://maps.app.goo.gl/xpaCjezvTJ52XXKM9',
	},
];
---

<section class="bg-white py-12">
	<div class="ek-container flex flex-col gap-2 xl:gap-6">
		<div class="flex flex-col gap-1 py-6 lg:gap-2">
			<span class="font-medium text-neutral-500">Our locations</span>
			<h2 class="text-3xl font-semibold text-gray-800 xl:text-4xl">Visit our dealers</h2>
		</div>
		<div class="grid grid-cols-1 gap-16 py-3">
			{
				locations.map((location) => (
					<div class="flex flex-col gap-5">
						<div class="flex w-full items-center justify-between border-b pb-3">
							<h3 class="text-2xl font-medium">{location.country}</h3>
							<span set:html={location.flag} />
						</div>
						<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-8 xl:grid-cols-4 xl:gap-5">
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Address</span>
								<div class="text-gray-600">
									{location.address.map((address) => (
										<p>{address}</p>
									))}
								</div>
							</div>
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Working Hours</span>
								<div class="text-gray-600">
									{location.workingHours.map((workingHour) => (
										<p>{workingHour}</p>
									))}
								</div>
							</div>
							<div class="flex w-full flex-col gap-1">
								<span class="text-lg font-medium">Phone</span>
								<div>
									<a
										href={`tel:${location.phone.replace(/\s/g, '')}`}
										class="font-medium text-gray-600 hover:underline"
									>
										{location.phone}
									</a>
								</div>
							</div>
							{location.maps && (
								<div class="flex w-full flex-col gap-1">
									<span class="text-lg font-medium">Location</span>
									<div>
										<a
											href={location.maps}
											target="_blank"
											class="font-medium text-gray-600 hover:underline"
										>
											See at Google Maps
										</a>
									</div>
								</div>
							)}
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

{
	/*<div class="w-full">
				<div
					class="relative flex h-[200px] w-full items-center justify-center bg-neutral-100 md:h-full"
				>
					<iframe
						class="absolute my-auto h-full w-full"
						frameborder="0"
						referrerpolicy="no-referrer-when-downgrade"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAlftvMenNERJffzUYrUIEChMeBBFkum8U&q=EK+Racing"
						allowfullscreen
					>
					</iframe>
				</div>
			</div>*/
}
